body{
    margin-left: 3em;
  }
  table {
    border-spacing: 0;
  }
  tr td:first-child {
    width: 200px;
  }

  tr td:nth-child(2) {
    width: 70px;
    text-align: right;
  }

  tr td:last-child {
    width: 300px;
    padding-left: 10px;
  }

  th {
    text-align: left;
    padding-left: 10px;
  }

  tr:nth-child(even) {
    background-color: #eee;
  }

  td {
    padding: 3px 5px;
  }