<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Legg til en spilleliste</title>
  <link rel="stylesheet" href="css/users.css">
</head>
<body>
  <a href="index.php">Tilbake til hovedsiden</a> |
  <a href="listVideos.php">Vis alle videoer</a>
  <h1>Opprett ny spilleliste</h1>
  {% if session.uid!="" %}
  <form class="addPlaylist" action="addPlaylist.php" method="post">
    <input type="hidden" id="uid" name="uid" value="{{session.uid}}"><br>
    <label for="title">Tittel: </label>
    <input type="text" id="title" name="title" required><br>
    <label for="desc">Beskrivelse: </label>
    <input type="hidden" id="thumbnail" name="thumbnail" value="12345">
    <textarea name="desc" id="desc" cols="30" rows="3"></textarea><br>
    <input type="submit" value="Opprett spilleliste" name="addPlaylist">
  </form>
  {% else %}
  Du må være logget inn for å opprette spillelister
  {% endif %}
</body>
</html>
