<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Last opp video</title>
</head>
<body>
  <a href="index.php">Tilbake til hovedsiden</a> |
  <a href="listVideos.php">Vis alle videoer</a>
  <h1>Videoopplaster</h1>
  <!-- Hvis bruker er logget inn (session uid inneholder noe) -->
  {% if session.uid!="" %}
  <form class="addVideo" action="addVideo.php" method="post" enctype="multipart/form-data">
    <table>
      <!-- id kommer automatisk i db -->
      <!--owner-->
      <input type="hidden" id="uid" name="uid" value="{{session.uid}}">
      <tr><!--title-->
        <td><label for="title">Tittel</label></td>
        <td><input type="text" id="title" name="title"></td>
      </tr>
      <tr><!--course-->
        <td><label for="course">Emne</label></td>
        <td><input type="text" id="course" name="course"></td>
      </tr>
      <tr><!--topic-->
        <td><label for="topic">Tema</label></td>
        <td><input type="text" id="topic" name="topic"></td>
      </tr>
      <!-- mime vil bli hentet fra fil -->
      <!-- size vil bli hentet fra fil -->
      <tr><!--description-->
        <td><label for="descr">Description</label></td>
        <!-- <td><input type="text" name="descr" id="descr"></td> -->
        <td><textarea name="descr" id="descr" cols="30" rows="3"></textarea></td>
      </tr>
      <input type="hidden" id="likes" name="likes" value="0">
      <input type="hidden" id="thumbnail" name="thumbnail" value="1">
      <tr><!--file-->
        <td><label for="pickFile">Choose a file</label></td>
        <td><input type="file" name="fileToUpload" id="pickFile"></td>
      </tr>
    </table>
    <input type="submit" value="Last opp video" accept="video/*"> <!--accept: Velg-fil pop-up vil være filtrert til filer med mimetype "video/ et-eller-annet"-->
  </form>
  {% else %}
  Du må være logget inn for å laste opp videoer
  {% endif %}
</body>
</html>