<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rediger video</title>
</head>
<body>
  {% if session.uid!="" %}
  {% for video in videos %}
  {% if session.uid == video.owner %}
  <h1>Rediger video</h1>
  <h2>Endre informasjon</h2>
  <form action="editVideo.php?id={{video.id}}" method="POST">
    <label for="title">Tittel</label>
    <input type="title" name="title" value="{{video.title}}"> <br>
    <label for="descr">Beskrivelse</label>
    <textarea name="descr" id="descr" cols="30" rows="3">{{video.description}}</textarea> <br>
    <input type="hidden" name="id" value="{{video.id}}">
    <input type="hidden" name="editVideo" value="1">
    <input type="submit" value="Lagre endringer">
  </form>
  <h2>Slett video</h2>
  <form action="editVideo.php?id={{video.id}}" method="POST">
    <input type="hidden" name="id" value="{{video.id}}">
    <input type="hidden" name="owner" value="{{video.owner}}">
    <input type="hidden" name="deleteVideo" value="1">
    <input type="submit" value="Slett video">
  </form>
  {% else %}
  Du er nok ikke eieren av denne videoen
  {% endif %}
  {% endfor %}
  {% else %}
  Du er ikke logget inn engang
  {% endif %}
</body>
</html>