<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rediger spilleliste</title>
</head>
<body>
  {% if session.uid!="" %}
  {% for playlist in playlists %}
  {% if session.uid == playlist.owner %}
  <h1>Rediger spilleliste</h1>
  <h2>Endre informasjon</h2>
  <form action="editPlaylist.php?id={{playlist.id}}" method="POST">
    <label for="title">Tittel</label>
    <input type="title" name="title" value="{{playlist.title}}"> <br>
    <label for="descr">Beskrivelse</label>
    <textarea name="descr" id="descr" cols="30" rows="3">{{playlist.description}}</textarea> <br>
    <input type="hidden" name="id" value="{{playlist.id}}">
    <input type="hidden" name="editPlaylist" value="1">
    <input type="submit" value="Lagre endringer">
  </form>
  <h2>Slett spilleliste</h2>
  <form action="editPlaylist.php?id={{playlist.id}}" method="POST">
    <input type="hidden" name="id" value="{{playlist.id}}">
    <input type="hidden" name="owner" value="{{playlist.owner}}">
    <input type="hidden" name="deletePlaylist" value="1">
    <input type="submit" value="Slett spilleliste">
  </form>
  {% else %}
  Du er nok ikke eieren av denne spillelisten
  {% endif %}
  {% endfor %}
  {% else %}
  Du er ikke logget inn engang
  {% endif %}
</body>
</html>