<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Legg til en kontakt</title>
  <link rel="stylesheet" href="css/users.css">
</head>
<body>
  {% for user in data %} 
  <h1> Velkommen {{user.userName}} </h1> 
  <form class="addUser" action="editUser.php" method="post">
    <input type="hidden" id="id"  value= "{{user.id}}" name="id">
    {%endfor%}
    <label for="userType">Brukertype: </label>
    <input type="text"  id="userType" name="userType" value= "{{user.userType}}"required><br/>
    <input type="submit" value="Oppdater bruker" name="updateUser">
  </form>
</body>
</html>
