
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Videosystem</title>
</head>
<body>
  <h1>Velkommen til ntnu videoopptak</h1>
  {% if loggedin=='yes' %}
  <meta http-equiv="Refresh" content="0; url=login.php" />
  <form id="logout" method="post" action="index.php">
    <input type="hidden" name="logout" value="1"><!-- Must have a field other than the button for Mink -->
    <input type="submit" value="logg ut">
  </form>
  {% else %}
  <form id="login" method="post" action="index.php">
    <label for="userName">Brukernavn</label> <input type="email" name="userName" id="userName" placeholder="email address">
    <label for="password">Passord</label> <input type="password" name="password" id="password">
    <input type="submit" value="logg inn">
  </form>
  <br>
  {% endif %}
  Last opp video |
  <a href="listVideos.php">Vis alle videoer</a> |
  <a href="searchVideos.php">Søk etter videoer</a><br> 
  Opprett spilleliste |
  <a href="listPlaylists.php">Vis alle spillelister</a> |
  <a href="searchPlaylists.php">Søk etter spillelister</a>
  <p></p><!-- nylinje --> 
  <a href="addUser.php">Opprett bruker</a>
  
</body>
</html>

