<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Spillelister</title>
  <link rel="stylesheet" href="css/videos.css">
</head>
<body>
  <a href="index.php">Tilbake til hovedsiden</a> |
  <a href="addPlaylist.php">Opprett spilleliste</a> |
  <a href="searchPlaylists.php">Søk etter spillelister</a>
  <h2>Spillelister</h2>
  {% include 'playlistList.html' %}
</body>
</html>