<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Videoer</title>
  <link rel="stylesheet" href="css/videos.css">
</head>
<body>
  <a href="index.php">Tilbake til hovedsiden</a> |
  <a href="addVideo.php">Last opp video</a> |
  <a href="searchVideos.php">Søk etter videoer</a>
  <h2>Videoer</h2>
  {% include 'videoList.html' %}
</body>
</html>