
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Homepage for lærer</title>
  <link rel="stylesheet" href="css/users.css">
</head>

<body>
  <h1>Velkommen {{ session.userType }} {{ session.uName }}</h1>   <!--Outputer sessionverdier--> 
  <form id="logout" method="POST" action="logout.php">
  <input type="hidden" name="logout" value="1">
  <input type="submit" value="logg ut">
  </form>
  <a href="videoer.php">Søk på videoer</a>
  <a href="addVideo.php">Last opp video</a>
  <a href="listVideos.php">Vis alle videoer</a>
  <a href="addPlaylist.php">Opprett spilleliste</a>
  <a href="listPlaylists.php">Vis alle spillelister</a>
</body>
</html>

