<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.4">
  <title>Spilleliste</title>
  <link rel="stylesheet" href="css/videos.css">
  <style>
    .playlists {
      border: 1px solid #000;
      width: 200px;
    }
  </style>
</head>
<body>
  <a href="index.php">Tilbake til hovedsiden</a> |
  <a href="listPlaylists.php">Spilleliste oversikt</a> <br>
  {% if data.status=="OK" %}
  Du har abonnert på denne spillelisten
  {% endif %}
  {% for file in files %}
  <h1>{{file.title}}</h1>
  <p>
    Beskrivelse: <br>
    {{file.description}}
  </p>
  <!-- Hvis bruker ikke har abonnert på spilleliste, skal en ha mulighet til å gjøre det -->
  {% if subbed.subbed=="NO" %}
  Du abonnerer ikke på denne spillelisten.
  <form action="playlist.php?id={{file.id}}" method="POST">
    <input type="hidden" name="uid" value="{{session.uid}}">
    <input type="hidden" name="playlist" value="{{file.id}}">
    <!--input under er bare for å form submit et menigsfylt navn.
        Det blir lettere å se i src/playlist.php hvilken form det
        er som er sendt-->
    <input type="hidden" name="subscribe" value="1">
    <input type="submit" value="Abonner">
  </form>
  <!--Hvis bruker har abonnert, skal en ha mulighet til å fjerne det-->
  {% else %}
  &check; Du abonnerer på denne spillelisten
  <form action="playlist.php?id={{file.id}}" method="POST">
    <input type="hidden" name="uid" value="{{session.uid}}">
    <input type="hidden" name="playlist" value="{{file.id}}">
    <input type="hidden" name="unSubscribe" value="1">
    <input type="submit" value="Avslutt abonnement">
  </form>
  {% endif %}
  <!-- Hvis logget inn -->
  {% if session.uid!="" %}
  <!-- Hvis brukeren er eieren av spillelisten -->
  {% if session.uid == file.owner %}
  <h2>Rediger</h2>
  <a href="editPlaylist.php?id={{file.id}}">Endre eller slett spilleliste</a> <br> <br>
  {% endif %}
  {% endif %}
  {% endfor %}

  <h2>Videoer i spilleliste</h2>
  <!-- Videoinfo-liste. (Table videos med tilhørende informasjon) -->
  <div class="playlists">
    {% if vidsInfo is not empty %}
        {% for vidInfo in vidsInfo %}
          {% for vidI in vidInfo %}
          <a href="video.php?id={{vidI.id}}">
            {{vidI.title}}
          </a> <br>
          {% endfor %}
        {% endfor %}
    
  </body>
  {% else %}
  Ingen videoer er lagt til spillelisten <br>
</div> <br>
<a href="listVideos.php">Videooversikt</a>
{% endif %}
</html>