<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Endret info til spilleliste</title>
</head>
<body>
  {% for da in data %}
  <h1>Spillelisten er slettet</h1>
  <a href="index.php">Tilbake til hovedsiden</a>
  {% endfor %}
</body>
</html>