{% if playlists is not empty %}
<table>
  <thead>
    <tr>
      <th>id</th>
      <th>owner</th>
      <th>title</th>
      <th>description</th>
      <th>thumbnail</th>
    </tr>
  </thead>
  <tbody>
    {% for playlist in playlists %}
    <tr>
      <td>{{playlist.id}}</td>
      <td>{{playlist.owner}}</td>
      <td>
        <a href="playlist.php?id={{playlist.id}}">
          {{playlist.title}}
        </a>
      </td>
      <td>{{playlist.description}}</td>
      <td>{{playlist.thumbnail}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
Ingen spillelister her
{% endif %}