<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Lagt til en spilleliste</title>
</head>
<body>
  {% if status=="OK" %}
    <h1 data-id="{{id}}">Spillelisten «{{ data.title }}» ble opprettet</h1>
    <p>{{ data.title }} er lagt til i databasen</p>
    <p>
      <a href="index.php">Tilbake til hovedsiden</a> |
      <a href="listPlaylists.php">Spilleliste oversikt</a>
    <p>
  {% else %}
    <h1>Det oppsto en feil</h1>
    eier: {{data.owner}} <br>
    tittel: {{data.title}} <br>
    beskrivelse: {{data.description}}
    <p>Klarte ikke å legge til spillelisten i databasen</p>
    <p><a href="addPlaylist.php">Prøv igjen</a>, <a href="index.php">tilbake til hovedsiden</a></p>
  {% endif %}
</body>
</html>
