<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Søk etter videoer</title>
</head>
<body>
  <a href="index.php">Tilbake til hovedsiden</a> |
  <a href="searchVideos.php">Nullstill søk</a> |
  <a href="listVideos.php">Vis alle videoer</a>
  <h1>Søk etter videoer</h1>
  <form action="searchVideos.php" method="get">
    <label for="search">Søk etter: </label>
    <input type="text" name="search" id="search"
           placeholder="Søk etter tittel, emne, tema">
    <input type="submit" value="Søk">
  </form>
  {% if search != "" %}
    <h2>Søket etter "{{ search }}" ga følgende resultater</h2>
    <div class="searchresult">
      {% include 'videoList.html' %}
    </div>
  {% endif %}
</body>
</html>
