<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Homepage for student</title>
  <link rel="stylesheet" href="css/users.css">
</head>
<body>
  <h1>Velkommen {{ session.userType }} {{ session.uName }}</h1>   <!--Outputer sessionverdier--> 
  <form id="logout" method="POST" action="logout.php">
  <input type="hidden" name="logout" value="1">
  <input type="submit" value="logg ut">
  </form>
  <a href="addVideo.php">Last opp video</a> |
  <a href="listVideos.php">Vis alle videoer</a> |
  <a href="searchVideos.php">Søk etter videoer</a><br> 
  <a href="addPlaylist.php">Opprett spilleliste</a> |
  <a href="listPlaylists.php">Vis alle spillelister</a> |
  <a href="searchPlaylists.php">Søk etter spillelister</a> |
  <p></p><!-- nylinje --> 
 

  <h2>Abonnerte spillelister</h2>
  {% if playsInfo is not empty %}
  <div class="subbedPlaylists">
    {% for playInfo in playsInfo %}
    {% for playI in playInfo %}
    <a href="playlist.php?id={{playI.id}}">{{playI.title}}</a> <br>
    {% endfor %}
    {% endfor %}
  </div>
  {% else %}
  Du abonnerer ikke på noen spillelister
  {% endif %}
</body>
</html>

