<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Lagt til kontakt</title>
</head>
<body>
  {% if status=="OK" %}
    <h1>Kontakten ble oppdatert</h1>
    <p></p>{{ user.userName}} {{ user.userType }} er nå lagret</p>
    <p><a href="index.php">Tilbake til hovedsiden</a><p>
  {% else %}
    <h1>Det oppsto en feil</h1>
    <p>Kontakten ble ikke oppdatert, gjorde du ingen endringer?.</p>
    <p><a href="listUsers.php">Prøv igjen</a>, <a href="index.php">tilbake til hovedsiden</a></p>
  {% endif %}
</body>
</html>