<table>
  <thead>
    <tr><th></th><th>Brukernavn</th><th>passord</th><th>userType</th>
  </thead>
  <tbody>
    {% for user in users %}
      <tr>
        <td>
          <a href="editUser.php?id={{ user.id }}" title="Rediger informasjon om kontakten">
            <img class="editIcon" src="img/pen.png" alt="">
          </a>
        </td><td>{{ user.userName }}</td><td>{{ user.password }}</td><td>{{ user.userType }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
