{% if videos is not empty %}
<table>
  <thead>
    <tr>
      <th>id</th>
      <th>owner</th>
      <th>title</th>
      <th>course</th>
      <th>topic</th>
      <th>mime</th>
      <th>size</th>
      <th>description</th>
      <th>likes</th>
      <th>thumbnail</th>
    </tr>
  </thead>
  <tbody>
    {% for video in videos %}
    <tr>
      <td>{{video.id}}</td>
      <td>{{video.owner}}</td>
      <td>
        <a href="video.php?id={{video.id}}">
          {{video.title}}
        </a>
      </td>
      <td>{{video.course}}</td>
      <td>{{video.topic}}</td>
      <td>{{video.mime}}</td>
      <td>{{video.size}}</td>
      <td>{{video.description}}</td>
      <td>{{video.likes}}</td>
      <td>{{video.thumbnail}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
Ingen videoer her
{% endif %}