<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.4">
  <title>Video</title>
</head>
<style>
  video {
    max-width: 100%;
    max-height: 50vh;
  }

  .playlists {
    border: 1px solid #000;
    width: 200px;
  }
</style>
<body>
  <a href="listVideos.php">Tilbake til videooversikt</a><br> <br>
  {% for video in videos %}
  <video controls>
    <source src="uploadedFiles/{{video.owner}}/{{video.id}}">
  </video>
  <h1>{{video.title}}</h1>
  <p>
    Beskrivelse: <br>
    {{video.description}}
  </p>
  <p>
    Liker: <br>
    {{video.likes}}
  </p>
  <!-- Hvis logget inn -->
  {% if session.uid!="" %}
  <!-- Hvis brukeren er eieren av videoen -->
  {% if session.uid == video.owner %}
  <h2>Rediger</h2>
  <a href="editVideo.php?id={{video.id}}">Endre eller slett video</a>
  {% endif %}
  {% endif %}
  <h2>Kommentarer</h2>
  <!--Hvis logget inn-->
  {% if session.uid!="" %}
  <form action="addComments.php" method="post">
    <input type="hidden" name="owner" id="owner" value="{{session.uid}}">
    <input type="hidden" name="video" id="video" value="{{video.id}}">
    <textarea name="content" cols="45" row></textarea> <br>
    <input type="submit" value="Post" name="addComment">
  </form>
  {% else %}
  Logg inn for å skrive kommentarer<br>
  {% endif %}

  <p>
    {% for displayComment in displayComments %}
     {{displayComment.userName}}: {{displayComment.content}} <br>
     {% endfor %}
  </p>
  

  <h2>Spillelister</h2>
  <h3>Legg video til spilleliste</h3>
  <!--Hvis logget inn-->
  {% if session.uid!="" %}
  {% if playlistsDropd is not empty %}
  <form action="addVideoToPlaylist.php" method="POST">
    <select name="playlist-select" id="playlist-select">
      {% for playlist in playlistsDropd %}
      <option value="{{playlist.id}}">{{playlist.title}}</option>
      {% endfor %}
    </select> <br>
    <input type="hidden" value="{{video.id}}" name="video">
    <input type="submit" value="Sett inn i spilleliste">
  </form>
  {% else %} <!-- else til "if playlistsDropd is not empty"-->
  Ingen spillelister å legge video til. <br>
  <a href="addPlaylist.php">Opprett en spilleliste</a>
  {% endif %} <!-- endif til "if playlistsDropd is not empty"-->
  {% else %} <!-- else til 'session.uid!=""'-->
  <a href="index.php">Logg inn</a> for å legge til videoer til spillelister
  {% endif %} <!-- endif til 'session.uid!=""'-->
  {% endfor %} <!--endfor til "for video in videos"-->

  <h3>I spillelister</h3>
  {% if playlistsInfo is empty %}
  Denne videoen er ikke i noen spillelister <br>
  {% else %}
  <div class="playlists">
    {% for playlistInfo in playlistsInfo %}
    {% for playlistI in playlistInfo %}
    <a href="playlist.php?id={{playlistI.id}}">{{playlistI.title}}</a> <br>
    {% endfor %}
    {% endfor %}
  </div>
  {% endif %}
  <br>
</body>

</html>