<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Lagt video til spilleliste</title>
</head>
<body>
  {% if data.status=="OK" %}
    <h1 data-id="{{id}}">Videoen er lagt til spillelisten</h1>
    <p><a href="index.php">Tilbake til hovedsiden</a>, <a href="listVideos.php">Videooversikt</a>, <a href="listPlaylists.php">Spilleliste oversikt</a><p>
  {% else %}
    <h1>Dette er skikkelig feil</h1>
    <p>Klarte ikke å legge videoen i spillelisten</p>
    <p><a href="video.php">Prøv igjen</a>, <a href="index.php">tilbake til hovedsiden</a></p>
  {% endif %}
</body>
</html>
