<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Endret info til video</title>
</head>
<body>
  {% for da in data %}
  <h1>Endringene er lagret</h1>
  <a href="index.php">Tilbake til hovedsiden</a>, <a href="video.php?id={{da.id}}">Tilbake til videoen</a>
  {% endfor %}
</body>
</html>