<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Lagt til en video</title>
</head>
<body>
  {% if status!='OK' %}
  <h1>Status: {{status}}</h1>
  {% endif %}

  {% if status=="OK" %}
  <h1 data-id="{{id}}">Videoen ble lastet opp</h1>
  <p>«{{ data.title }}» er lagt til</p>
  <a href="index.php">Tilbake til hovedsiden</a>, <a href="listVideos.php">Videooversikt</a>
  {% elseif status=="halvveis" %}
  <p>
    <h1>Det oppsto en feil</h1>
    <p>Klarte å legge til {{ data.title }} i database, men ikke å lagre lokalt. Sletter derfor fra databasen igjen</p>
    <p><a href="addVideo.php">Prøv igjen</a>, <a href="index.php">tilbake til hovedsiden</a></p>
    {% elseif status=="FAIL" %}
    <h1>Dette er skikkelig feil</h1>
    <p>Klarte ikke å legge til {{ data.title }} i databasen</p>
    <p><a href="addVideo.php">Prøv igjen</a>, <a href="index.php">tilbake til hovedsiden</a></p>
  </p>
  {% endif %}

</body>

</html>