<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Lagt video til spilleliste</title>
</head>
<body>
  <h1 data-id="{{id}}">Videoen er blitt slettet</h1>
  <p><a href="index.php">Tilbake til hovedsiden</a>, <a href="listVideos.php">Videooversikt</a><p>
</body>
</html>
